<header class="fondo">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light fondo">
      <a class="navbar-brand" href=""><img src="https://scontent.fccs3-1.fna.fbcdn.net/v/t1.0-9/83115377_115072053357289_5380413764875059200_n.png?_nc_cat=107&_nc_oc=AQnept3Lpy2mRiZd_Ztq1lU4ANq6nfMtPiDfkAJov311kCP2Q-12KdemhuPRArmKG04&_nc_ht=scontent.fccs3-1.fna&oh=13b874fb4a2b4e1abbd1b7d9c34b00cb&oe=5EA160F6" alt="daser"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="" routerLink="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="" routerLink="/servicios">Servicios</a>
          
        </div>
      </div>
    </nav>
  </div>
</header>



<div class="container-fluid mt-5">
  <router-outlet></router-outlet>
</div>