<div class="container-fluid mb-5 servicios">
    <div class="row">
       
            <div class="col-lg-6 text-center">
                <h2>DISEÑO WEB</h2>
                <a href=""><img src="https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></a>
            </div>
            <div class="col-lg-6 text-center">
                <h2>DISEÑO GRAFICO</h2>
                <a href=""><img src="https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></a>
            </div>
        
    </div>
</div>
            
<h2 class="text-center">PRUEBA API'S</h2>

<div class="container">
    
    <div class="row clearfix"  *ngIf="cervecerias" >
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover mb-0 c_table"> 
                    
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th data-breakpoints="xs">Cerveceria</th>
                            <th data-breakpoints="xs sm md">Pais</th>
                            <th data-breakpoints="xs">SITE</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cerveza of cervecerias">
                        <tr>
                            <td><span><i class=""></i> My Projects</span></td>
                            <td><span class="">{{ cerveza.name }}</span></td>
                            <td><span class="">{{ cerveza.country }}</span></td>
                            <td><span class="s"> <a class="site" href="{{ cerveza.website_url }}">site</a>-</span></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            
</div>
 
